node_modules/
.env
dist/
coverage/
npm-debug.log
.DS_Store
dump/
*.bak
*.archive

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for temporary files
tmp/
temp/
/src/generated/prisma
